[Desktop Entry]
Name=Adiman
Exec=bash -c 'cd "$(dirname "%k")" && ../adiman/Adiman.AppImage'
Type=Application
Comment=Music player for linux inspired by Namida
Terminal=false
Icon=Adiman
Categories=AudioVideo;Audio;Music;Player;
