[Desktop Entry]
Name=Equibop
Exec=equibop --user-agent-os windows
Type=Application
Comment=Vesktop but better and better than discord
Terminal=false
Icon=Equibop
